{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<!-- checking if email already exists using ajax -->
<script>
    
    $(function() {
      $('input#email').bind('change', function() {
          
          $('.error-msg.email').hide();
          $('.go-msg.email').hide();
        $.getJSON($SCRIPT_ROOT + '/check_email', {
          a: $('input[name="email"]').val(),
        }, function(data) {
          if (data == '0' ) {
              $('.error-msg.email').show();
                $('.go-msg.email').hide();
                $('.btn-submit').attr("disabled", true);
  
          }
          else{
            $('.error-msg.email').hide();
            $('.go-msg.email').show();
  
          }
  
  
        });
        return false;
      });
    });
  </script>


<style>


.row {
    display: -ms-flexbox;
    display: inherit !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media only screen and (max-width: 600px) {
    .row {
    display: -ms-flexbox;
    display: grid !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    overflow: hidden !important;
}
}


    
    </style>
    {% include 'user_nav.html' %}


   
<form class="needs-validation" method="POST" action="/change_password" >
  <div class="container">
    <div class="spacingg">
        <br><br>
  </div>
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mt-3 mb-2 text-primary">Password</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Street">Current Password</label>
                        <input type="password" class="form-control" name="current_password" required>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Street">New Password</label>
                        <input type="password" class="form-control" name="new_password" required>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Street">Confirm Password</label>
                        <input type="password" class="form-control" name="confirm_password" required>
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <br>
                        <button class="btn btn-primary btn-submit" type="submit">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </form>
{% endblock %}