{% extends 'base.html' %}


{% block body %}
<style>
    .navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0 / 100%) !important;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: black;


}

</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" width="150"  alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-light ms-3" style="background:#343A40 "><a style="color:white" href="/userlogin">Login</a></button>
                <button class="btn btn-light ms-3" style="background:#343A40 "><a style="color:white" href="/pricing">Get Started</a></button>
            </div>
        </div>
    </div>
</nav>

{% endblock%}
