{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>


.row {
      
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: inherit !important;

}


@media only screen and (max-width: 600px) {
    .row {
    display: -ms-flexbox;
    display: grid !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    overflow: hidden !important;
}

body > div.container-fluid.display-table > div > div.container.rounded.mt-5.bg-white.p-md-5 > div.align-items-center > h3
{
	

    width: 95% !important;
    text-align: center;
    font-size: 16px !important;
  
}

body > div.container-fluid.display-table > div > div.container.rounded.mt-5.bg-white.p-md-5 > div.align-items-center > a
{
	position: inherit !important;
}


}



  </style>
<body id="body" class="home">
  {% include 'user_nav.html' %}
  <div class="container">

	<meta charset="UTF-8">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
			{% for key, value in humour_data.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			{% endfor %}
        ]);

        var options = {
          title: 'Report: ',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('humour_chart'));
        chart.draw(data, options);
        
      }
    </script>
     <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Month', 'Tweets'],
			{% for row in dates %}
				{% if row.0 is string %}
					['{{row.1 }}', '{{ row.0 }}'],
				{% else %}
					['{{ row.1 }}', {{ row.0 }}],
				{% endif %}
			{% endfor %}
        ]);

        var options = {
          title: 'Keyword Analysis ',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('date_keyword_graph'));
        chart.draw(data, options);
        
      }
    </script>

<div class="container mt-3 mb-3">
  <div class="d-flex flex-row align-items-center"></div>
  <div class=" align-items-center" style="width: max-content;margin: auto;" >
      <h4>Account Details</h4>
  </div>
  <div class="row mt-1 g-4">
    <div class="col-md-4">
      <div class="card p-2">
          <div class="d-flex p-1 px-4 align-items-center"></div>
          <div class="email mt-1"> <H5 class=" align-items-center" style="
              width: max-content;
              margin: auto;
          " >Profile Picture</<H4>
              <div class="dummytext mt-1"> <span></span> </div>
          </div>
          <img src={{user_profile.profileImage}}>
      </div>
  </div>
      <div class="col-md-4">
          <div class="card p-2">
              <div class="d-flex p-1 px-4 align-items-center"></div>
              <div class="email mt-1"> <H5 class=" align-items-center" style="
                  width: max-content;
                  margin: auto;
              " >USER INFORMATION</<H4>
                  <div class="dummytext mt-1"> <span></span> </div>
              </div>

              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Username:</b> {{user_profile.username}}</li>
                  <li class="list-group-item"><b>Name:</b>{{user_profile.name}}</li>
                  <li class="list-group-item"><b>Description:</b> {{user_profile.description}}</li>
                  <li class="list-group-item"><b>Location:</b> {{user_profile.location}}</li>
                  <li class="list-group-item"><b>Followers Count:</b> {{user_profile.followersCount}}</li>
                  <li class="list-group-item"><b>Verified:</b> {{user_profile.isVerified}}</li>


              </ul>
              </div>
      </div>
     
  </div>
</div>
<div class="table-responsive">
  <h3>Top 10 Words Used</h3>
  <table class="table">
      <thead>
          <tr>


              <th scope="col">Word</th>
              <th scope="col">Occurences</th>
          </tr>
      </thead>

      


        {% for row in count %}
      <tbody>


          <tr class="bg-blue">
              <td class="pt-3 mt-1">{{row[0]}}</td>
              <td class="pt-3 mt-1">{{row[1]}}</td>
             

              
            </tr>

      </tbody>
        {% endfor %}

      


  </table>

 

</div>
<div class="table-responsive">
  <h3>Prediction for individual Tweets</h3>
  {{ tweets_based_prediction.to_html() | safe}}

 

</div>
	<div style="margin: 10px 0 0 10px;width: 1000px;">
		<h3>Personality Analysis</h3>
		

    
		<div id="humour_chart" ></div>
        <div id="hatespeechOffensive_chart" ></div>
        <div id="negative_positive_neutral_chart" style="width: 900px; height: 500px;"></div>
        <div id="date_keyword_graph" style="width: 900px; height: 500px;"></div>
        

	</div>
  
  
</div>
</body>
{% endblock %}
