{% extends 'base.html' %}
{% block title %} Home {% endblock %}


{% block body %}
{% include 'user_nav.html' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<!-- checking if username already exists using ajax -->


<div class="container">
    <main>
      <div class="row g-5">

        <div class="col-md-5 col-lg-4 order-md-last">



        </div>
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" action="/upgrade_charge" method="POST">
            <div class="row g-3">

              <div class="col-12">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-primary">Plan Details</span>
                </h4>
                <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">{{data.name}}</h6>
                    </div>
                    <span class="text-muted">${{data.price}}</span>
                  </li>
                </ul>

                <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">Duration</h6>
                    </div>
                    <span class="text-muted">{{type}}</span>
                  </li>
                </ul>



              </div>











            </div>

			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key={{key}}
        data-amount={{data.price*100}}
        data-name="payment"
        data-locale="auto">
    </script>
	<input type="number" value={{data.price}} name="amount" id="amount" style="display:none">
	<input type="number" value={{data.plan_id}} name="plan_id" id="plan_id" style="display:none">
	<input type="number" value={{data.subscription_duration}} name="plan_duration" id="plan_duration" style="display:none">
    <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
    </script>

    <button style="margin-top:20px" type="submit" class="btn rounded-pill btn-dark py-2 px-4">Pay Now</button>
	<div class="spacingg">
              <br><br>
            </div>
		</form>

        </div>
      </div>
    </main>
</div>
<div class="spacingg">
  <br><br><br>
</div>
    {% include 'footer.html' %}

    {% endblock %}
