{% extends 'base.html' %}
{% block body %}

<style>



    .topnav {

      background-color: #333;
      position: inherit;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .active {
      background-color: #000000;
      color: white;
    }

    @media (min-width: 601px) {
    .mobile-container{
        display: none;
    }
}



    </style>



<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="navi">
                <ul>
                    <li><a href="/user_home"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                    <li><a href="/search_history"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Search History</span></a></li>
                    <li><a href="/transactions"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Payment History</span></a></li>
                    <li><a href="/profile"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Profile</span></a></li>
                    <li><a href="/user_support"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Support</span></a></li>
                    <li><a href="/logout"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>

                </ul>
            </div>
        </div>


        

    <script>

        const mediaQuery = window.matchMedia('(max-width: 600px)')
        if (mediaQuery.matches) 
        {
            document.getElementById("navigation").style.display = "none";
            document.getElementById("mystery").style.display = "none";
        }

        function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}


    </script>

<div class="mobile-container" id="head">

    <!-- Top Navigation Menu -->
    <div class="topnav">
      <a href="#home" class="active">Welcome</a>
      <div id="myLinks">
        <a href="/user_home">Home</a>
        <a href="/search_history">Search History</a>
        <a href="/transactions">Payment History</a>
        <a href="/profile">Manage Profile</a>
        <a href="/user_support">Support</a>
        <a href="/logout">Logout</a>

      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
</div>    

{% endblock%}
