{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block body %}
<style>

    body > div.container-fluid.display-table > div > div.container > form > div
    {
        margin-top: -300px  !important;
    }

    body > div.container-fluid.display-table > div > div.container > div.row.height.d-flex.justify-content-center.align-items-center > div > h4
    {
        margin-top: -240px !important;
    }


    .row {

      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: inherit !important;

}


@media only screen and (max-width: 600px) {
    .row {
    display: -ms-flexbox;
    display: grid !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    overflow: hidden !important;
}

body > div.container-fluid.display-table > div > div.container > form > div
    {
        margin-top: -120px  !important;
    }

    body > div.container-fluid.display-table > div > div.container > div.row.height.d-flex.justify-content-center.align-items-center > div
    {
        margin-top: 20px !important;
    }

    body > div.container-fluid.display-table > div > div.container > div.row.height.d-flex.justify-content-center.align-items-center > div > h3
    {
        font-size: 20px !important;
    }

}



    </style>

<body id="body" class="home">
    {% include 'user_nav.html' %}
    <div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class=" align-items-center" style="width: max-content;margin: auto; margin-top: -170px;" >
            <h3 style="
            background: #000000;
            color: white;
            border-radius: 10px;
            width: 106%;
            text-align: center;
            font-size: 22px;
            padding: 2px;

        ">You can only do one search at a time</h3>

        </div>
    </div>


        <form  action="/user_home" method="POST">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="search" style="top:10px"> <i class="fa fa-search"></i> <input type="text" name = "search" class="form-control" placeholder="Use exact username of twitter profile to search "> <button class="btn btn-primary" type="submit">Search</button> </div>
                </div>
            </div>
        </form>

        {% with messages = get_flashed_messages() %}

        {% if messages %}
        {% for msg in messages%}

        <p class="admin_flash">{{msg}}</p>

        {% endfor %}

        {% endif %}

        {% endwith %}
      <div>

        <div class=" align-items-center" style="width: max-content;margin: auto;">

            <a id="upgradeButton" href="/upgrade_pricing" class="btn btn-dark btn-xs" style="
            left: 42%;
            position: absolute;background: blue;
            ">Upgrade</a>
                    </div>


                    <div  class=" align-items-center" style="width: max-content;margin: auto;">

                      {% if (p['price']>0) %}
                        <a id="renewButton" href="#" onclick="renewNow()" class="btn btn-dark btn-xs" style="
                        left: 53%;

                        position: absolute;background: black;
                        ">Renew</a>
                        {% endif %}
                                </div>


                    </div>

                    <br>
                    <br>

<div class="container mt-3 mb-3">
    <div class="d-flex flex-row align-items-center"></div>
    <div class=" align-items-center" style="width: max-content;margin: auto;" >
        <h4>Account Details</h4>
    </div>
    <div class="row mt-1 g-4">
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"></div>
                <div class="email mt-1"> <H5 class=" align-items-center" style="
                    width: max-content;
                    margin: auto;
                " >USER INFORMATION</<H4>
                    <div class="dummytext mt-1"> <span></span> </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Name:</b> {{user.Name}}</li>
                    <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
                    <li class="list-group-item"><b>Status:</b> Active</li>

                </ul>
                </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"></div>
                <div class="email mt-1"> <H5 class=" align-items-center" style="
                    width: max-content;
                    margin: auto;
                " >PLAN INFORMATION</<H4>
                    <div class="dummytext mt-1"> <span></span> </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Name:</b> {{p.name}}</li>
                    {% if (p['price']==0) %}
                    <li class="list-group-item"><b>Price:</b> Free</li>
                    {% endif %}
                      {% if (p['price']>0) %}
                    <li class="list-group-item"><b>Price:</b> ${{p.price}}/Month</li>

                    {% endif %}
                    <li class="list-group-item"><b>End Date:</b> {{Data.date}}</li>


                    <form style="display:none !important;" class="needs-validation" action="/renew" method="POST">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key={{key}}
                          data-amount={{amount}}
                          data-name="payment"
                          data-locale="auto">
                      </script>
                      <script>
                          // Hide default stripe button, be careful there if you
                          // have more than 1 button of that class
                          document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                      </script>

                      <button id="renewSubmit"  style="margin-top:20px" type="submit" class="btn rounded-pill btn-dark py-2 px-4">Renew</button>
                      </form>



                </ul>
                </div>
        </div>

        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"></div>
                <div class="email mt-1"> <H5 class=" align-items-center" style="
                    width: max-content;
                    margin: auto;
                " >PLAN STATISTICS</<H4>
                    <div class="dummytext mt-1"> <span></span> </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Searches Used:</b> {{queryUsed.count}}</li>
                    <li class="list-group-item"><b>Total Searches:</b> {{planDetails.tSearch}}</li>
                    <li class="list-group-item"><b>Results Per Search:</b> {{planDetails.tLimit}}</li>

                </ul>
            </div>
        </div>
    </div>
</div>

</div>

</body>


<script>
    if( screen.width <= 480 ) {
    document.getElementById('renewButton').style.left="25%";
    document.getElementById('upgradeButton').style.left="50%"
}
else{
    document.getElementById('body').style.overflow="hidden";
}


function renewNow(){
    document.getElementById('renewSubmit').click();
}

</script>



{% endblock %}
