{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Admin Login  {% endblock %}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<!-- checking if username already exists using ajax -->
<script>
  $(function() {
    $('input#username').bind('change', function() {
        $('.error-msg.username').hide();
        $('.go-msg.username').hide();
      $.getJSON($SCRIPT_ROOT + '/check_username', {
        a: $('input[name="username"]').val(),
      }, function(data) {
        if (data == '0' ) {
            $('.error-msg.username').show();
              $('.go-msg.username').hide();
        }
        else{
          $('.error-msg.username').hide();
          $('.go-msg.username').show();
        }


      });
      return false;
    });
  });
</script>

<!-- checking if email already exists using ajax -->
<script>
  $(function() {
    $('input#email').bind('change', function() {
        $('.error-msg.email').hide();
        $('.go-msg.email').hide();
      $.getJSON($SCRIPT_ROOT + '/check_email', {
        a: $('input[name="email"]').val(),
      }, function(data) {
        if (data == '0' ) {
            $('.error-msg.email').show();
              $('.go-msg.email').hide();

        }
        else{
          $('.error-msg.email').hide();
          $('.go-msg.email').show();

        }


      });
      return false;
    });
  });
</script>

<div class="container">
    <main>
      <div class="row g-5">

        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Plan Details</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{data.name}}</h6>
              </div>
              <span class="text-muted">
                {% if (data['price']==0) %}
                  Free
                {% endif %}
                  {% if (data['price']>0) %}
                  ${{data.price}}
                {% endif %}


              </span>
            </li>
          </ul>

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Duration</h6>
              </div>
              <span class="text-muted">
                {% if (data['price']==0) %}
                  7 days
                {% endif %}
                  {% if (data['price']>0) %}
                  {{type}}
                {% endif %}


              </span>
            </li>
          </ul>

<form action="/charge" method="POST">

</form>



        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Register Now</h4>
          <form class="needs-validation" action="/charge" method="POST">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstname" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="lastname" class="form-label">Last name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>

              <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="error-msg username" style=" display: none;
  color: red;">
                  Username Already Taken
                </div>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                <div class="error-msg email" style=" display: none;
  color: red;">
                  Email Already Taken
                </div>
                <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
              <div class="col-12">
                <label for="password" class="form-label">Password <span class="text-muted"></span></label>
                <input type="password" class="form-control" name="password" id="password" placeholder="********" required>
                <div class="invalid-feedback">
                  Please enter a valid password for registeration.
                </div>
              </div>




            </div>

              {% if (data['price']>0) %}

			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key={{key}}
        data-amount={{data.price*100}}
        data-name="payment"
        data-locale="auto">
    </script>
  {% endif %}
	<input type="number" value={{data.price}} name="amount" id="amount" style="display:none">
	<input type="number" value={{data.plan_id}} name="plan_id" id="plan_id" style="display:none">
  {% if (data['price']>0) %}
	<input type="number" value={{data.subscription_duration}} name="plan_duration" id="plan_duration" style="display:none">
  {% endif %}
  {% if (data['price']==0) %}
	<input type="number" value=7 name="plan_duration" id="plan_duration" style="display:none">
  {% endif %}

    <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
    </script>

    <button style="margin-top:20px" type="submit" class="btn rounded-pill btn-dark py-2 px-4">Sign Up Now</button>
	<div class="spacingg">
              <br><br>
            </div>
		</form>

        </div>
      </div>
    </main>
</div>
<div class="spacingg">
  <br><br><br>
</div>
    {% include 'footer.html' %}

    {% endblock %}
